.product {
    padding: 10px 0;
}

.product-title {
    font-size: 22px;
    margin-bottom: 20px;
}

.product-describtion {
    font-size: 18px;
    margin-bottom: 15px;
}

.product-features {
    font-size: 16px;
    margin-bottom: 15px;
}

.product-price {
    font-size: 20px;
}

.product-btn-wrap {
    display: flex;
    justify-content: center;
}

.product-image {
    text-align: center;
    margin-bottom: 20px;

    img {
        width: 330px;
        height: auto;
    }
}

.product-quantity {
    display: flex;
    justify-content: stretch;
    width: auto;
    margin-bottom: 20px;

    input {
        text-align: center;
    }
}

.btn-favorite {
    width: 30px;
    height: 40px;
    top: 45px;
    left: 25px;
    color: yellow;
    border-color: yellow;
    :hover {
        color: blue;
    }
}

.title-content {
    background-color: #f2f1f6;
    padding: 70px 0 50px 0;
}

.img-content{
    display: flex;
    .img-separator {
        transform: rotateX(180deg);
        background-color: white;
        width: 100%;
        height: 50px;


    }
}

//css for ProductItemCard

.prodcard-image {
    width: 100%;
    height: auto;
}

.prodcard-content-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .prodcard-price-stock {
        font-size: 18px;
        font-weight: bold;

        .prodcard-price-stock-quantity {
            color: #bc4b20;
            font-size: 20px;
        }
    }
}

.prodcard-review {
    margin-bottom: 30px;
}

.prodcard-attribute {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.prodcard-item-content{
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .prodcard-item-price{
        font-weight: bold;
        font-size: 20px;
        color: #bc4b20;
    }
}